.git
.gitignore

.venv
.pytest_cache
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd

data
docs
reports
tests
scripts
mlruns
mlflow.db

requirements.txt
requirements-dev.txt
README.md

models/*
!models/ensemble_2_0_model.joblib

config/*
!config/serving
config/serving/*
!config/serving/model_metadata.json
!config/serving/input_reference.json

*.xlsx
*.png
*.log